<div class="user-details">
	<h1>Portfolio</h1>
	<p>
		Here's some of the projects I've worked on:
	</p>
</div>
<div class="portfolio flex container flexRow">

	<div class="container flex flexItem flexColumn" style="min-width: 500px;">
		<h2>VR/AR/XR</h2>
		<div class="flex container flexRow">
			<a class="portfolioImg flexItem item"
			href="https://vimeo.com/213107475"
			style="background-image: url(../assets/images/AyrtonSennaVR.jpg);">
				<div class="portfolioOverlay">Ayrton Senna VR Experience<br> & VR Commerce</div>
			</a>
			<a class="portfolioImg flexItem item"
			href="https://rstcom.com.br/portfolio/bosch-salao-do-automovel/"
			style="background-image: url(../assets/images/BoschSalãodoAutomóvel.jpg);">
				<div class="portfolioOverlay">Bosch Salão do Automóvel</div>
			</a>
		</div>
	</div>

	<div class="container flex flexItem flexColumn" style="min-width: 500px;">
		<h2>Apps</h2>
		<div class="flex container flexRow">
			<a class="portfolioImg flexItem item"
			href="https://rstcom.com.br/portfolio/estacio-rock-in-rio/"
			style="background-image: url(../assets/images/rock&Rio.jpg);">
				<div class="portfolioOverlay">Estácio Rock In Rio</div>
			</a>
		</div>
		<div class="flex container flexRow">
			<a class="portfolioImg flexItem item"
			href="https://play.google.com/store/apps/details?id=br.com.rstcom.lg.k61"
			style="background-image: url(../assets/images/LGk61.jpg);">
				<div class="portfolioOverlay">LG k41S/K51S/K61 Launch App</div>
			</a>
		</div>
	</div>

	<div class="container flex flexItem flexColumn" style="min-width: 500px;">
		<h2>Interactive Experiences</h2>
		<div class="flex container flexRow">
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
		</div>
	</div>
	
	<link rel="stylesheet" href="/assets/css/custom.css">
	<link rel="stylesheet" href="/assets/css/main.css">
</div>