<div class="user-details">
	<h1>Portfolio</h1>
	<p>
		Here's some of the projects I've worked on:
	</p>
</div>
<div class="user">
	<div class="tech">
		<p>Apps</p>
  		<link rel="shortcut icon" type="image/png" href="{{ '/assets/favicon.png' }}" >
	</div>
	<div class="tech">
		<p>VR/AR/XR</p>
		<img width="100%" height="70%" src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/902c5607-1080-43d8-8905-9c75181a58ad/da41f3i-091f9a55-3417-49c7-8b9a-fffca7c53635.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOTAyYzU2MDctMTA4MC00M2Q4LTg5MDUtOWM3NTE4MWE1OGFkXC9kYTQxZjNpLTA5MWY5YTU1LTM0MTctNDljNy04YjlhLWZmZmNhN2M1MzYzNS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.oGp7CvT3uumhwwG46UO8dReixIr1MrNittRo8BdhVdc"/>
	</div>
</div>