<div class="user-details">
	<h1>Portfolio</h1>
	<p>
		Here's some of the projects I've worked on:
	</p>
</div>
<div class="portfolio flex container flexRow">
	<div class="container flex flexItem flexColumn" style="min-width: 500px;">
		<h2>Apps</h2>
		<div class="flex container flexRow">
			<a class="portfolioImg flexItem item"
			href="a"]
			style="background-image: url(../assets/images/test1.jpg);">
				<div class="portfolioOverlay">Title</div>
			</a>
			<a class="portfolioImg flexItem item"
			href="a"]
			style="background-image: url(../assets/images/test2.png);">
				<div class="portfolioOverlay">Title</div>
			</a>
			<a class="portfolioImg flexItem item"
			href="a"]
			style="background-image: url(../assets/images/test1.jpg);">
				<div class="portfolioOverlay">Title</div>
			</a>
			<a class="portfolioImg flexItem item"
			href="a"]
			style="background-image: url(../assets/images/test1.jpg);">
				<div class="portfolioOverlay">Title</div>
			</a>
		</div>
	</div>
	<div class="container flex flexItem flexColumn" style="min-width: 500px;">
		<h2>VR/AR/XR</h2>
		<div class="flex container flexRow">
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
		</div>
	</div>
	<div class="container flex flexItem flexColumn" style="min-width: 500px;">
		<h2>VR/AR/XR</h2>
		<div class="flex container flexRow">
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
			<div class="portfolioImg flexItem item">
				<div class="portfolioOverlay">Title</div>
			</div>
		</div>
	</div>
	
	<link rel="stylesheet" href="/assets/css/custom.css">
	<link rel="stylesheet" href="/assets/css/main.css">
</div>