.flex {
	display: flex;
}

.flexItem {
	flex: 1;
}

.flexRow {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.flexColumn {
	flex-direction: column;
}

.portfolio {
	background-color: red;
	padding: 0 20px;
}

.portfolio .container {
	flex-wrap: wrap;
	background-color: blue;
	align-items: center;
	margin: 20 20px;
}

.portfolio h2 {
	text-align: center;
	/* background-color: yellow; */
}

.portfolio .item{
	min-width: 200px;
	max-width: 300px;
	height: auto;
	margin: 10 10px;
	/* background-color: green; */
}

.portfolioImg {
	/* background: url(https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/902c5607-1080-43d8-8905-9c75181a58ad/da41f3i-091f9a55-3417-49c7-8b9a-fffca7c53635.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOiIsImlzcyI6InVybjphcHA6Iiwib2JqIjpbW3sicGF0aCI6IlwvZlwvOTAyYzU2MDctMTA4MC00M2Q4LTg5MDUtOWM3NTE4MWE1OGFkXC9kYTQxZjNpLTA5MWY5YTU1LTM0MTctNDljNy04YjlhLWZmZmNhN2M1MzYzNS5wbmcifV1dLCJhdWQiOlsidXJuOnNlcnZpY2U6ZmlsZS5kb3dubG9hZCJdfQ.oGp7CvT3uumhwwG46UO8dReixIr1MrNittRo8BdhVdc); */
	background-size: 100% auto;
	background-repeat: no-repeat;
	/* background-color: red; */
	background-position: center;
	transition: 0.2s;
	position: relative;
	background-color: aquamarine;
	min-height: 200px;
}

.portfolioImg:hover {
	background-size: 200% auto;
}

.portfolioImg:hover .portfolioOverlay{
	opacity: 1
}

.portfolioOverlay {
	position: absolute;
	bottom: 0;
	background: rgb(0, 0, 0, 0.5);
	color: white;
	width: 100%;
	opacity: 0;
	transition: 0.2s;
	text-align: center;
	padding: 15px 0;
	font-size: 21px;
}